.wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	width: 100vw;
	height: 100vh;
}

.link {
	display: inline-block;

	margin-top: 15px;

	@media (any-hover: hover) {
		&:hover {
			text-decoration: underline;
		}
	}
}

.loginForm {
	max-width: 300px;
}
