*::-webkit-scrollbar {
  width: 4px;
  height: 4px;

  background-color: #FFF;
}

*::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: #C3E2FF;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
  background: transparent;
}